a:link{
	color: #B6CC07;
	text-decoration: none;
}
a:visited{
	color: #B6CC07;
	text-decoration: none;
}
body{
	background: #085cb2; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #085cb2 0%, #12497e 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#085cb2), color-stop(100%,#12497e)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #085cb2 0%,#12497e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #085cb2 0%,#12497e 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #085cb2 0%,#12497e 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #085cb2 0%,#12497e 100%); /* W3C */
	background-attachment: fixed;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#085cb2', endColorstr='#12497e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	min-width: 320px;
}
button{
	font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
textarea, input, a:link, a:active{
	outline: none;
}
a.add-images-button,
#fake-add-image-button{
	border: 1px solid #ccc;
	padding: 0 8px 0 10px;
	background: url(../images/tk-sprite.png) -432px -14px no-repeat #f2f2f2;
	height: 32px;
    line-height: 32px;
	width: 52px;
	position: relative;
	overflow: hidden;
    text-align: right;
	color: #666;
	cursor: pointer;
	vertical-align: middle;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    font-family:  Arial, sans-serif;
}
	a.add-images-button span{
		display: none;
	}
	a.add-images-button:after{
	    content: "+";
	    color: #666;
		font-weight: bold;
	}
.clear{
	clear: both;
	height: 0;
}
header,
footer{
	background: #07243F;
	height: 80px;
	width: 100%;
}
	header .inner{
		height: 80px;
		position: relative;
	}
		header #logo{
			height: 46px;
			left: 10px;
			position: absolute;
			top: 22px;
			width: 100px;
		}
			header #logo a{
				background: url(../images/tk-logo.png) 0 0 no-repeat;
				display: block;
				height: 0;
				overflow: hidden;
				padding: 36px 0 0 0;
				width: 131px;
				-webkit-background-size: 131px 36px;
				-moz-background-size: 131px 36px;
			}
		header #header-login{
			width: 70px;
			height: 30px;
			position: absolute;
			top: 25px;
			right: 10px;
		}
			header #header-login a{
				display: block;
				width: 70px;
				height: 30px;
				line-height: 30px;
				text-transform: uppercase;
				font-weight: bold;
				color: #666;
				background: #f2f2f2;
				text-align: center;
				font-size: 12px;
			}
footer{
	bottom: 0;
	font-size: 12px;
	font-weight: 300;
	left: 0;
	position: absolute;
}
	footer nav#footer-nav{
		float: right;
		height: 12px;
		line-height: 12px;
		padding: 34px 0;
	}
		footer nav#footer-nav ul{
			float: right;
			list-style: none;
			margin: 0;
			padding: 0;
		}
			footer nav#footer-nav ul li{
				float: left;
				list-style: none;
				margin: 0 20px 0 0;
				padding: 0;
			}
				footer nav#footer-nav ul li a{
					color: #419EFF;
				}
form{

}
	form textarea{
		border: 1px solid #ccc;
		background: #fff;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-appearance: none;
	    border-radius: 0;
	    box-sizing: border-box;
		font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 300;
		color: #666;
		float: left;
		margin: 0;
		padding: 20px;
		width: 100%;
	}
	form input.validation-error,
	form textarea.validation-error{
		border: 2px solid #FF4E41 !important;
	}
	form #user_notifications_new_posts_city,
	form #user_notifications_new_posts_building,
	form #user_notifications_new_posts_floor{
		border-bottom: none !important;
	}
		form #user_notifications_new_posts_building>label,
		form #user_notifications_new_posts_floor>label{
			color: #f2f2f2;
		}
		form #user_notifications_new_posts_city>label{
			
		}
	form.notifications fieldset.inputs ol li label span{
		visibility: hidden;
	}
	form .radio>label{
		height: 100% !important;
	}
	form .radios-container{
		padding: 10px 0 10px 10px;
		width: 100%;
		float: left;
	}
	form .multiple .radios-container{
		padding-bottom: 0;
	}
		form .multiple .radios-container.last{
			padding-bottom: 10px;
		}
		form .radios-container label{
			position: relative !important;
			top: auto !important;
			left: auto !important;
			height: 30px !important;
			line-height: 30px !important;
			width: auto !important;
			font-weight: 300 !important;
			font-size: 12px !important;
			background: transparent !important;
			padding: 0 0 0 20px !important;
			border-right: none !important;
			float: left !important;
			color: #666 !important;
		}
			form .multiple .radios-container label{
				max-width: 225px !important;
				line-height: 14px !important;
			}
		form .radios-container ul.radios-control{
			float: left;
		}
			form .radios-container ul.radios-control li{
				padding: 0 !important;
				float: left;
				min-width: 51px !important;
				width: auto !important;
				border: 1px solid #ccc !important;
				border-right: none !important;
				height: 30px !important;
				-webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
			}
				form .radios-container ul.radios-control li.radios-control-last{
					border-right: 1px solid #ccc !important;
				}
				form .radios-container ul.radios-control li button{
					color: #e6e6e6;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: bold;
					-webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;
				    border: 2px solid #fff;
				    background: #fff;
				    min-width: 50px;
				    height: 28px;
				    padding-top: 2px;
				    cursor: pointer;
				    margin: 0;
				}
					form .radios-container ul.radios-control li button.on{
						border: 2px solid #e6e6e6;
						background: #f2f2f2;
						color: #666;
						margin: 0;
					}
		form .radios-container .radios-input{
			display: none;
		}
html, body{
	height: 100%;
	width: 100%;
}
#pager{
	text-align: right;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	margin: 20px 0 40px 0;
	width: 100%;
	float: left;
	position: relative;
}
	#pager ul{
		float: right;
	}
		#pager ul li{
			float: left;
			margin-left: 10px;
		}
		#pager ul li#pager-previous a,
		#pager ul li#pager-next a{
			display: block;
			width: 30px;
			height: 0;
			padding: 30px 0 0 0;
			overflow: hidden;
			background: url(../images/tk-sprite.png) -914px -16px no-repeat #07243F;
		}
		#pager ul li#pager-next a{
			background-position: -796px -16px;
		}
#inbox-list{

}
	#inbox-list li{
		height: 60px;
	    width: 100%;
	    float: left;
	    color: #666;
	    position: relative;
		overflow: hidden;
	}
	#inbox-list li.odd{
		background: #fff;
	}
	#inbox-list li.even{
		background: #f2f2f2;
	}
		#inbox-list li .inbox-avatar{
			position: absolute;
			left: 10px;
			top: 10px;
		}
			#inbox-list li .inbox-avatar img{
				float: left;
				margin: 0;
				padding: 0;
			}
		#inbox-list li .inbox-subject{
			font-weight: 300;
			float: left;
			padding-top: 16px;
			white-space: nowrap;
			margin-left: 60px;
			font-size: 14px;
		}
			#inbox-list li .inbox-subject a{
				color: #0D5EB2;
			}
			#inbox-list li .inbox-subject a.unread{
				font-weight: bold;				
			}
		#inbox-list li .inbox-from{
			font-weight: 300;
			font-size: 12px;
		}
		#inbox-list li .inbox-time{
			position: absolute;
			right: 0;
			top: 0;
			height: 60px;
			line-height: 60px;
			padding: 0 20px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 12px;
		}
		#inbox-list li.odd .inbox-time{
			
		}
		#inbox-list li.even .inbox-time{
			
		}
.inner{
	margin: 0 auto;
	max-width: 940px;
	padding: 0 10px;
}
nav#main-nav{
	float: left;
	width: 100%;
}
	nav#main-nav ul{
		margin: 3px 0 0 240px;
	}
		nav#main-nav ul li{
			display: block;
			float: left;
			font-size: 18px;
			font-weight: bold;
			margin: 0 40px 0 0;
			text-transform: uppercase;
			position: relative;
		}
			nav#main-nav ul li a{
				border-bottom: 5px solid #fff; 
				color: #fff;
				display: block;
				float: left;
				height: 18px;
				opacity: 0.3;
				padding: 27px 3px;
			}
				nav#main-nav ul li span.nav-alert{
					background: #FF4E41;
					color: #FFFFFF;
					display: block;
					font-size: 12px;
					font-weight: bold;
					height: 20px;
					line-height: 20px;
					padding: 0 5px;
					position: absolute;
					right: 0;
					bottom: 0;
					opacity: 1;
					cursor: pointer;
				}
			nav#main-nav ul li.active a{
				opacity: 1;
			}
			nav#main-nav ul li.classifieds a{
				border-bottom: 5px solid #FF4E41;
			}
			nav#main-nav ul li.topics a{
				border-bottom: 5px solid #B6CC07;
			}
		nav#main-nav ul li.settings{
			float: right;
			margin-right: 0;
			margin-left: 40px;
		}
			nav#main-nav ul li.settings a{
				background: url(../images/tk-sprite.png) -365px 5px no-repeat;
				border-bottom: 5px solid #B3B3B3;
				height: 20px;
				overflow: hidden;
				padding: 26px 15px;
				text-indent: -9999px;
				width: 20px;
			}
		nav#main-nav ul li.messages{
			float: right;
			margin-right: 0;
		}
			nav#main-nav ul li.messages a{
				background: url(../images/tk-sprite.png) -305px 5px no-repeat;
				border-bottom: 5px solid #FFAF27;
				height: 20px;
				overflow: hidden;
				padding: 26px 15px;
				text-indent: -9999px;
				width: 20px;
			}
#notifications{
	width: 100%;
	float: left;
	margin: 20px 0 0 0;
}
	#notifications .inner{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
		color: #fff;
		padding: 20px 60px 20px 20px;
		text-align: center;
		width: 100%;
		background: #07243F;
		font-weight: bold;
		position: relative;
		min-height: 20px;
		margin-bottom: -20px;
		z-index: 10;
	}
	#notifications #notifications-close{
		position: absolute;
		top: 20px;
		right: 20px;
		border: none;
		background: url(../images/tk-sprite.png) -624px -24px no-repeat transparent;
		padding: 12px 0 0 0;
		height: 0;
		width: 12px;
		overflow: hidden;
		display: block;
		cursor: pointer;
	}
	#notifications a{
		color: #fff;
		text-decoration: underline;
	}
	#notifications p.success{
		text-align: center;
		padding-left: 44px;
	}
		#notifications p.success:before{
			background: url(../images/tk-sprite.png) -1215px -15px no-repeat;
		    width: 30px;
		    height: 30px;
		    display: inline-block;
		    content: " ";
		    margin: 0 10px -17px 0;
		    position: relative;
		    top: -7px;
		    width: 30px;
		}
#content{
	float: left;
	padding-bottom: 160px;
	width: 100%;
	min-height: 480px;
}
	#content.front{
		padding-bottom: 80px;
	}
	#content .inner{
		padding: 40px 10px;
	}
#message-thread-container{
	background: #fff;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
	padding: 0 20px 20px 20px;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}
.message{
	color: #666;
	border-bottom: 1px solid #ccc;
	width: 100%;
	float: left;
	position: relative;
	padding: 20px 0;
}
	.message a{
	color: #419EFF;
	}
	.message .message-date{
		position: absolute;
		top: 20px;
		right: 0;
		text-transform: uppercase;
		color: #666;
		font-size: 12px;		
		font-weight: bold;
	}
	.message .message-avatar{
		width: 40px;
		height: 40px;
		background: #f2f2f2;
		position: absolute;
		top: 20px;
		left: 0;
		font-size: 8px;
	}
	.message h3,
	.message .message-meta,
	.message .message-body,
	.message .message-comments,
	.message .message-actions{
		margin-left: 50px;
	}
	.message .message-meta{
		margin-bottom: 2px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
	}
	.message .message-body{
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
	}
.message-actions{
	width: 100%;
	float: left;
	background: #f2f2f2;
	border-bottom: 1px solid #ccc;
}
	.message-actions-container{
		width: 100%;
		float: left;
		padding: 10px;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
		.message-actions-container form{
			width: 100%;
			float: left;
		}
			.message-actions-container form input,
			.message-actions-container form button{
				display: block;
				float: left;
				border: 1px solid #ccc;
				-webkit-appearance: none;
				-webkit-border-radius: 0;
				-webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
				font-size: 12px;
				font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-weight: 300;
				height: 32px;
				cursor: pointer;
			}
			.message-actions-container form input.reply-body{
				width: 100%;
				padding: 8px;
				color: #666;
				margin-bottom: 10px;
			}
			.message-actions-container form button.reply-submit{
				background: #419EFF;
				border: none;
				float: right;
				padding: 10px;
				text-transform: uppercase;
				color: #fff;
				font-weight: bold;
				cursor: pointer;
			}
			.message-actions-container form a.add-images-button{
				float: right;
				margin-right: 10px;
			}
#overlay{
	display: none;
	background: #114D89;
	opacity: 0.75;
	z-index: 5;
}
	#overlay.on{
		display: block;
	}
	.overlay-over{
		position: relative;
		z-index: 11 !important;
	}
.pagination.infinite{
	width: 100%;
	float: left;
}
	.pagination.infinite .ajax-loader{
		display: none;
		width: 100%;
		height: 50px;
		text-align: center;
	}
		.pagination.infinite .ajax-loader img{
			margin-top: 20px;
		}
	.pagination.infinite .next{
		background: #419EFF;
		height: 50px;
		width: 100%;
		text-align: center;
		line-height: 50px;
		position: relative;
		cursor: pointer;
	}
		.pagination.infinite .next a{
			position: relative;
			font-size: 12px;
			text-transform: uppercase;
			color: #fff;
			font-weight: bold;
		}
			.pagination.infinite .next a:before{
				background: url(../images/tk-sprite.png) -864px -28px no-repeat;
			    width: 12px;
			    height: 8px;
			    display: block;
			    position: absolute;
			    content: " ";
			    top: 1px;
			    left: 155px;
			}
.post{
	background: #fff;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	color: #666;
	float: left;
	margin-bottom: 20px;
	padding: 20px;
	width: 100%;
	position: relative;
}
	.post a{
		color: #419EFF;
	}
	.post h3{
		font-size: 22px;
		margin-bottom: 6px;
		margin-right: 80px;
		font-weight: bold;
		letter-spacing: -1px;
	}
		.post h3 a{
			color: #07243F;
		}
	.post .post-status-tag{
		position: absolute;
		top: 0;
		right: 20px;
		color: #666;
		background: #f2f2f2;
		min-width: 70px;
		height: 60px;
		line-height: 30px;
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;		
		font-weight: bold;
		padding: 0;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
		.post .post-date,
		.post .post-status{
			width: 100%;
			padding: 0 10px;
			height: 30px;
			line-height: 30px;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		}
		.post .post-status{
			background: #052340;
			color: #fff;
			height: 30px;
			line-height: 30px;
			text-align: center;
		}
	.post .post-price{
		background: #b6ce00;
	}
	.post .post-actions{
	}
		.post .post-actions .post-actions-container{
			width: 100%;
		    float: left;
		    background: #f2f2f2;
			border-bottom: 1px solid #ccc;
			padding: 10px;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		}
			.post .post-actions .post-actions-container .post-actions-form-container,
			.post .post-actions .post-actions-container .comment-body-text-container{
				float: left;
				width: 100%;
			}
				.post .post-actions .post-actions-container .post-actions-form-container form{
				    position: relative;
				}
					.post .post-actions .post-actions-container .post-actions-form-container form textarea#comment_body{
						left: 0;
						border: 1px solid #ccc;
						width: 100%;
						padding: 8px;
						-webkit-appearance: none;
						-webkit-border-radius: 0;
						-webkit-box-sizing: border-box;
					    -moz-box-sizing: border-box;
					    box-sizing: border-box;
						font-size: 12px;
						font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
						font-weight: 300;
						color: #666;
						height: 33px;
					}
					.post .post-actions .post-actions-container .post-actions-form-container form .comment-container{

					}
					.post .post-actions .post-actions-container .post-actions-form-container form button{
						position: relative;
						margin-top: -33px;
						width: 70px;
						float: right;
						background: #f2f2f2;
						-webkit-box-sizing: border-box;
					    -moz-box-sizing: border-box;
					    box-sizing: border-box;
					    -webkit-appearance: none;
						border: 1px solid #ccc;
						padding: 7px 0;
						font-size: 12px;
						text-transform: uppercase;
						font-weight: bold;
						height: 33px;
						cursor: pointer;
					}
						.post .post-actions .post-actions-container .post-actions-form-container form button.under{
							margin-top: 10px;
						}
		.post .post-actions ul{
			text-transform: uppercase;
			font-weight: bold;
			margin-left: -120px;
			width: 120px;
			float: left;
		}
			.post .post-actions ul li{
				float: right;
			}
			.post .post-actions ul li a{
				font-size: 12px;
				padding: 10px 0;
				margin-left: 20px;
				display: block;
				float: left;
			}
			.post .post-actions ul li.last a{
				margin-left: 0;
			}
	.post .post-avatar{
		width: 40px;
		height: 40px;
		background: #f2f2f2;
		position: absolute;
		top: 20px;
		left: 20px;
		font-size: 8px;
	}
	.post h3,
	.post .post-meta,
	.post .post-body,
	.post .post-comments,
	.post .post-actions{
		margin-left: 50px;
	}
	.post .post-meta{
		margin-bottom: 20px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
	}
		.post .post-meta .walking:before{
			background: url(../images/tk-sprite.png) -1164px -22px no-repeat;
			width: 14px;
			height: 16px;
			display: inline-block;
			content: " ";
			margin-bottom: -1px;
		}
	.post .post-body{
		margin-bottom: 15px;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
	}
		.post .post-body .images{
			margin: 20px 0 0 -20px;
		}
			.post .post-body .images img{
				float: left;
				margin: 0 0 20px 20px;
				border: 1px solid #ccc;
				max-width: 188px;
				cursor: pointer;
			}
	.post .post-comments{
		
	}
		.post .post-comments a.show-more-comments{
			display: block;
			margin: 0 0 0 25px;
			text-align: left;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 12px;
			color: #419EFF;
			padding: 15px 0 10px 2px;
			clear: both;
			position: relative;
		}
		.post .post-comments a.show-more-comments:before{
			background: url(../images/tk-sprite.png) -564px -24px no-repeat;
		    width: 11px;
		    height: 12px;
		    display: block;
		    position: absolute;
		    content: " ";
		    top: 15px;
		    left: -15px;
		}
		.post .post-comments ol.post-comments-list{
			border-top: 1px solid #ccc;
			width: 100%;
			background: #f2f2f2;
	    	float: left;
		}
			.post .post-comments ol.post-comments-list li {
			    border-bottom: 1px solid #CCCCCC;
			}
			.post .post-comments ol.post-comments-list li.comment{
				padding: 10px;
				border-bottom: 1px solid #ccc;
				position: relative;
				-webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
			    width: 100%;
			    float: left;
			    font-size: 12px;
			    font-weight: 300;
			}
				.post .post-comments ol.post-comments-list li.comment .comment-date{
					position: absolute;
					top: 10px;
					right: 10px;
					text-transform: uppercase;
					color: #666;
					font-size: 12px;
					font-weight: bold;
				}
				.post .post-comments ol.post-comments-list li.comment .comment-avatar{
					position: absolute;
					top: 10px;
					left: 10px;
					width: 40px;
					height: 40px;
					font-size: 8px;
					background: #f2f2f2;
				}
				.post .post-comments ol.post-comments-list li.comment .comment-meta,
				.post .post-comments ol.post-comments-list li.comment .comment-body{
					margin-left: 50px;
				}
				.post .post-comments ol.post-comments-list li.comment .comment-body{
					line-height: 18px;
				}
				.post .post-comments ol.post-comments-list li.comment .comment-meta{
					margin-bottom: 5px;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: bold;
				}
#post-form{
	position: relative;
}
	#post-form h2{
		background: #07243F;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
		color: #fff;
	    float: left;
		padding: 17px 20px;
		text-transform: uppercase;
	    width: 100%;
	    margin: 0;
	    font-weight: bold;
	    font-size: 17px;
	    position: relative;
	    height: 50px;
	}
		#post-form h2 a.show-post-form,
		#primary-inner #page-title.page-title-message a.show-original-post,
		#primary-inner #page-title.page-title-category a.show-post-form,
		#pager a.pager-add-post-link{
			background: #419EFF;
			border: none;
			float: right;
			padding: 0 10px;
			text-transform: uppercase;
			color: #fff;
			font-weight: bold;
			height: 30px;
			line-height: 30px;
			font-size: 12px;
			text-align: center;
			position: absolute;
			top: 10px;
			right: 10px;
		}
		#pager a.pager-add-post-link{
			left: 0;
			top: 0;
			right: auto;
		}
		#primary-inner #page-title.page-title-category{
			position: relative;
		}
		#post-form h2 a.hide-post-form{
			position: absolute;
			top: 22px;
			right: 20px;
			height: 12px;
			width: 12px;
			text-indent: -9999px;
			overflow: hidden;
			background: url(../images/tk-sprite.png) -624px -24px no-repeat;
		}
	#post-form form{
		background: #f2f2f2;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
		color: #666;
		float: left;
		margin-bottom: 20px;
		width: 100%;
		padding: 0;
	}
		#post-form.post-form-teaser form{
			padding: 10px;
		}
		#post-form.post-form-teaser textarea{
			padding: 10px;
			height: 80px;
		}
		.post-form form label{
			display: block;
			float: left;
			-webkit-border-radius: 0;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
			font-size: 14px;
			font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-weight: 300;
			height: 50px;
			line-height: 50px;
			border: none;
			padding: 0 20px;
			color: #666;
		}
		.post-form form input{
			display: block;
			float: left;
			-webkit-border-radius: 0;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
			font-size: 14px;
			font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-weight: 300;
			height: 50px;
			border: none;
			padding: 0 20px;
			color: #666;
		}
			.post-form form input#post_price{
				padding: 0 20px 0 30px;
			}
			.post-form #post_price_input{
				display: none;
			}
				.post-form .classified #post_price_input{
					display: block;
				}
			.post-form #post_price_input label:after{
				color: #666666;
			    content: "$";
			    display: block;
			    font-weight: 300;
			    height: 8px;
			    left: 189px;
			    position: absolute;
			    top: 0;
			    width: 12px;
			}
			.post-form form input.validation-error{
				border: 2px solid #FF4E41 !important;
			}
		
		.post-form form .chosen-drop{
			display: none;
		}
		.post-form form label{
			border-right: 1px solid #ccc;
		}
		.post-form form fieldset.inputs{

		}
			.post-form form fieldset.inputs ol{
				width: 100%;
				float: left;
			}
				.post-form form fieldset.inputs ol li#post_body_input,
				.message-actions form  fieldset.inputs ol li#message_body_input{
					padding-left: 169px;
					min-height: 90px;
					border-bottom: none;
					height: auto;
				}
					.post-form form.classified fieldset.inputs ol li#post_body_input{
						min-height: 120px;
					}
				.message-actions form  fieldset.inputs ol li#message_body_input{
					height: auto;
					padding-left: 0;
					position: relative;
					background: #fff;
					border: 1px solid #ccc;
				}
					.post-form form fieldset.inputs ol li#post_body_input label{
						width: 170px;
						height: 100%;
						border-right: 1px solid #ccc;
					}
					.post-form form fieldset.inputs ol li#post_body_input textarea#post_body,
					.message-actions form  fieldset.inputs ol li#message_body_input textarea#message_body{
						border: none;
					    height: 120px;
					    resize: none;
					}
					.message-actions form  fieldset.inputs ol li#message_body_input textarea#message_body{
						min-height: 120px;
						padding: 10px;
						font-size: 12px;
					}
				.post-form form fieldset.inputs ol li#post_body_input.with-images{
					height: auto;
					padding-bottom: 102px;
				}
				.post-form form fieldset.inputs ol li#post_body_input.with-images label{
					height: 100%;
				}
				.message-actions form  fieldset.inputs ol li#message_body_input.with-images{
					height: auto;
					padding-bottom: 102px;
				}
					.post-form form fieldset.inputs ol li#post_body_input .images-container,
					.message-actions form  fieldset.inputs ol li#message_body_input .images-container{
						height: 82px;
						position: absolute;
						bottom: 20px;
						left: 190px;
						margin-left: -20px;
					}
					.message-actions form  fieldset.inputs ol li#message_body_input .images-container{
						left: 10px;
						bottom: 10px;
					}
						.post-form form fieldset.inputs ol li#post_body_input .images-container .image-container,
						.message-actions form  fieldset.inputs ol li#message_body_input .images-container .image-container{
							width: 78px;
							height: 78px;
							float: left;
							margin: 0 0 0 20px;
							border: 1px solid #ccc;
							background: #fff;
							color: #fff;
							overflow: hidden;
							position: relative;
							text-align: center;
						}
							.post-form form fieldset.inputs ol li#post_body_input .images-container .image-container .actions,
							.message-actions form  fieldset.inputs ol li#message_body_input .images-container .image-container .actions{
								position: absolute;
								top: 0;
								right: 0;
							}
								.post-form form fieldset.inputs ol li#post_body_input .images-container .image-container .actions a,
								.message-actions form  fieldset.inputs ol li#message_body_input .images-container .image-container .actions a{
									display: block;
									overflow: hidden;
									text-indent: -9999px;
									width: 20px;
									height: 20px;
									background: url(../images/tk-sprite.png) -620px -21px no-repeat #666;
								}
							.post-form form fieldset.inputs ol li#post_body_input .images-container .image-container img,
							.message-actions form  fieldset.inputs ol li#message_body_input .images-container .image-container img{
								max-width: 120px;
							}
							.post-form form fieldset.inputs ol li#post_body_input .images-container .image-container .upload,
							.message-actions form  fieldset.inputs ol li#message_body_input .images-container .image-container .upload{
								width: 80px;
								height: 80px;
								position: relative;
							}
								.post-form form fieldset.inputs ol li#post_body_input .images-container .image-container .upload .progress,
								.message-actions form  fieldset.inputs ol li#message_body_input .images-container .image-container .upload .progress{
									height: 5px;
									width: 60px;
									background: #f2f2f2;
									position: absolute;
									bottom: 10px;
									left: 10px;
								}
									.post-form form fieldset.inputs ol li#post_body_input .images-container .image-container .upload .bar,
									.message-actions form  fieldset.inputs ol li#message_body_input .images-container .image-container .upload .bar{
										background: #B6CC07;
										height: 100%;
									}
				.post-form form fieldset.inputs ol li{
					width: 100%;
					float: left;
					-webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;
				    padding-left: 170px;
				    position: relative;
				    border-bottom: 1px solid #ccc;
				    background: #fff;
				    min-height: 51px;
				}
					.post-form form fieldset.inputs ol li.select{
						font-size: 14px;
						text-transform: uppercase;
						font-weight: 300;
					}
						.post-form form fieldset.inputs ol li.select .chosen-container{
							height: 50px;
							line-height: 50px;
							-webkit-box-sizing: border-box;
						    -moz-box-sizing: border-box;
						    box-sizing: border-box;
						    width: 100%;
						    position: relative;
						}
							.post-form form fieldset.inputs ol li.select .chosen-container a.chosen-single{
								display: block;
								padding: 0 20px;
								-webkit-box-sizing: border-box;
							    -moz-box-sizing: border-box;
							    box-sizing: border-box;
							    width: 100%;
							    position: relative;
							    z-index: 9;
							}
								.post-form form fieldset.inputs ol li.select .chosen-container a.chosen-single:after{
									background: url(../images/tk-sprite.png) no-repeat -504px -28px;
									width: 12px;
								    height: 8px;
								    display: block;
								    position: absolute;
								    content: " ";
								    top: 20px;
								    right: 20px;
								}
							.post-form form fieldset.inputs ol li.select .chosen-container .chosen-drop{
								display: none;
								width: 100%;
								position: absolute;
								top: 50px;
								left: 0;
								background: #fff;
								z-index: 10;
							}
								.post-form form fieldset.inputs ol li.select .chosen-container .chosen-drop .chosen-search{
									display: none;
								}
								.post-form form fieldset.inputs ol li.select .chosen-container .chosen-drop ul{
									border: 1px solid #ccc;
									width: 100%;
									float: left;
									background: #fff;
									-webkit-box-sizing: border-box;
								    -moz-box-sizing: border-box;
								    box-sizing: border-box;
								}
									.post-form form fieldset.inputs ol li.select .chosen-container .chosen-drop li{
										list-style: none;
										float: left;
										border: none;
										height: 30px;
										min-height: 30px;
										line-height: 30px;
										-webkit-box-sizing: border-box;
									    -moz-box-sizing: border-box;
									    box-sizing: border-box;
									    width: 100%;
									    padding: 0 10px;
									}
										.post-form form fieldset.inputs ol li.select .chosen-container .chosen-drop li.selected{
											background: #f2f2f2;
											font-weight: bold;
										}
						.post-form form fieldset.inputs ol li.select a{
							color: #666;
						}
					.post-form form fieldset.inputs ol li.image-errors-container{
						list-style: none;
						display: none;
					}
					.post-form form fieldset.inputs ol li.hidden{
						display: none;
					}
					.post-form form fieldset.inputs ol li label{
						background: #F2F2F2;
						color: #07243F;
						font-weight: bold;
						text-transform: uppercase;
						position: absolute;
						left: 0;
						top: 0;
						width: 170px;
					}
					.post-form form fieldset.inputs ol li input{
						width: 100%;
						overflow: hidden;
					}
		.post-form form fieldset.actions,
		.message-actions form fieldset.actions{
			background: #f2f2f2;
			width: 100%;
			float: left;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		    padding: 9px 10px;
		    border-top: 1px solid #ccc;
		}
		.message-actions form fieldset.actions{
			border-top: none;
			padding: 10px 0 0 0;
		}
			.post-form form fieldset.actions a#cancel-post,
			.message-actions form fieldset.actions a#cancel-post,
			#bill-upload-facade-browse{
				border: 1px solid #ccc;
				float: right;
				padding: 0 10px;
				text-transform: uppercase;
				color: #666;
				font-weight: bold;
				height: 32px;
				line-height: 32px;
				font-size: 12px;
				text-align: center;
				margin-right: 10px;
				-webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
			    cursor: pointer;
			}
			.post-form form fieldset.actions .gone-checkbox{
				font-weight: 300;
				font-size: 13px;
				vertical-align: middle;
				height: 32px;
				display: none;
			}
				.post-form form.classified fieldset.actions .gone-checkbox{
					display: table-cell !important; 
				}
				.post-form form fieldset.actions .gone-checkbox input{
					margin: 0 8px 0 7px;
					height: auto;
					border: 1px solid #d2d2d2;
					background: #fff;
					display: inline;
				}
			.post-form form fieldset.actions button.post-submit,
			.message-actions form fieldset.actions button.post-submit{
				background: #419EFF;
				border: none;
				float: right;
				padding: 0 10px;
				text-transform: uppercase;
				color: #fff;
				font-weight: bold;
				height: 32px;
				line-height: 32px;
				font-size: 12px;
				text-align: center;
				cursor: pointer;
			}
			.post-form form fieldset.actions .file_button_container,
			.message-actions form fieldset.actions .file_button_container{
				position: relative;
				float: right;
				margin-right: 10px;
				cursor: pointer;
			}
				.post-form form fieldset.actions .file_button_container input,
				.message-actions form fieldset.actions .file_button_container input{
					height: 0;
					width: 52px;
					overflow: hidden;
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0.0;
					cursor: pointer;
					z-index: 99;
					padding: 32px 0 0 0;
				}
#primary{
	float: left;
	width: 100%;
}
	#primary-inner{
		margin: 0 0 0 240px;
	}
		#primary-inner #page-title{
			font-size: 17px;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 15px;
			line-height: 10px;
		}
		#primary-inner #page-title.page-title-inbox,
		#primary-inner #page-title.page-title-about{
			background: #07243F;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
			color: #fff;
		    float: left;
			padding: 20px;
			text-transform: uppercase;
		    width: 100%;
		    margin: 0;
		    font-weight: bold;
		}
		#primary-inner #page-title.page-title-message{
			background: #07243F;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
			color: #fff;
		    float: left;
			padding: 17px 20px;
		    width: 100%;
		    margin: 0;
		    font-weight: bold;
		    text-transform: none;
		    height: 50px;
		    position: relative;
		}
		#primary-inner #page-title.page-title-category{
			background: #07243F;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
			color: #fff;
			padding: 20px;
			text-transform: uppercase;
		    width: 100%;
		    margin: 0 0 20px 0;
		    font-weight: bold;
		}
p.first-post-link {
    font-size: 14px;
    font-weight: bold;
}
.radios-container{

}
	.radios-container label{

	}
	.radios-container input{
		
	}
#secondary{
	float: left;
	margin: 0 0 0 -100%;
	width: 220px;
}
	#secondary h2{
		background: #07243F;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
		color: #fff;
	    float: left;
		padding: 17px 20px;
		text-transform: uppercase;
	    width: 100%;
	    font-weight: bold;
	    font-size: 17px;
	    letter-spacing: -1px;
	    height: 50px
	}
	#secondary select#mobile-menu{
		display: none;
	}
		#secondary div#mobile-add-post{
			display: none;
		}
		#secondary .cal{
			width: 100%;
			float: left;
			text-align: center;
			margin: 40px 0 0 0;
			font-weight: 500;
		}
			#secondary .cal .cal-caption{
				font-size: 14px;
				color: #fff;
				text-transform: uppercase;
				background: #07243F;
				position: relative;
				height: 30px;
				line-height: 30px;
				font-weight: 600;
			}
				#secondary .cal .cal-caption a.prev,
				#secondary .cal .cal-caption a.next{
					display: inline-block;
					width: 30px;
					height: 0;
					padding: 30px 0 0 0;
					overflow: hidden;
					background: url(../images/tk-sprite.png) -914px -16px no-repeat #07243F;
					position: absolute;
					top: 0;
				}
				#secondary .cal .cal-caption a.prev{
					left: 0;
				}
				#secondary .cal .cal-caption a.next{
					background-position: -796px -16px;
					right: 0;
				}
				#secondary .cal .cal-caption div{
					width: 100%;
				}
			#secondary .cal .cal-table{

			}
			#secondary .cal .cal-head th{
				padding: 10px 0;
				font-size: 14px;
			}
			#secondary .cal .cal-body{
				background: #fff;
				border: 2px solid #ccc;
			}
				#secondary .cal .cal-body td{
					border: 1px solid #ccc;
					line-height: 30px;
					font-size: 12px;
					color: #666;
					position: relative;
				}
					#secondary .cal .cal-body td div{
						width: 30px;
						height: 30px;
					}
					#secondary .cal .cal-body td.cal-off,
					#secondary .cal .cal-body td.cal-off a{
						opacity: 0;
					}
					#secondary .cal .cal-body td.cal-today{
						color: #07243F;
					}
						#secondary .cal .cal-body td.cal-today div{
							position: relative;
							z-index: 9;
						}
						#secondary .cal .cal-body td.cal-today div:before{
							width: 100%;
							height: 100%;
							display: block;
							position: absolute;
							content: " ";
							top: 0;
							left: 0;
							-webkit-box-shadow: inset 0px 0px 0px 3px #07243F;
							-moz-box-shadow:    inset 0px 0px 0px 3px #07243F;
							box-shadow:         inset 0px 0px 0px 3px #07243F;
							z-index: 10;
						}
				#secondary .cal .cal-body td a{
					color: #419EFF;
					text-decoration: underline;
				}
				#secondary .cal #add-event-link{
					text-align: right;
					font-size: 12px;
					width: 100%;
					float: left;
					margin-top: 10px;
				}
					#secondary .cal #add-event-link a{
						text-decoration: underline;
					}
		#search-box{
			margin: 40px 0 0 0;
			width: 100%;
			position: relative;
			float: left;
		}
			#search-box h5,
			#secondary .cal h5{
				font-size: 12px;
				font-weight: 500;
				text-transform: uppercase;
				margin-bottom: 10px;
				text-align: left;
			}
			#search-box input.form-text{
				border: none;
				height: 30px;
				padding: 0 10px;
				width: 190px;
				font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-weight: 300;
				color: #666;
				-webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
			    border-radius: 0;
			}
			#search-box input.form-submit{
				background: url(../images/tk-sprite.png) no-repeat -135px -15px #419EFF;
				width: 30px;
				overflow: hidden;
				border: none;
				position: absolute;
				right: 0;
				-webkit-appearance: none;
				border-radius: 0;
				height: 30px;
				line-height: 30px;
				text-indent: -9999px;
				cursor: pointer;
			}
		#secondary-nav{
		    float: left;
			width: 100%;
		}
		#secondary-nav ul{
		    float: left;
			width: 100%;
		}
		#secondary-nav ul li{
		    float: left;
			width: 100%;
			text-decoration: underline;
		}	
		#secondary-nav ul li a{
			display: block;
			font-size: 14px;
			letter-spacing: -1px;
			font-weight: bold;
		    float: left;
			width: 100%;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
			color: #fff;
			padding: 0 50px 0 20px;
			height: 50px;
			line-height: 50px;
			text-transform: uppercase;
			border-bottom: 1px solid rgba(7, 36, 63, 0.5);
			text-decoration: underline;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			position: relative;
		}
			#secondary-nav ul li a span{
				background: #07243F;
				color: #FFFFFF;
				display: block;
				font-size: 12px;
				font-weight: bold;
				height: 20px;
				line-height: 20px;
				padding: 0 5px;
				position: absolute;
				right: 15px;
				top: 15px;
			}
		#secondary-nav ul li.active a{
			background: rgba(7, 36, 63, 0.4);
			color: #B6CC07;
		}
.settings-form{
	
}
	.settings-form h2,
	.forgot-change h2{
		background: #07243F;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
		color: #fff;
		padding: 20px;
		text-transform: uppercase;
	    width: 100%;
	    font-weight: bold;
	    font-size: 20px;
	    width: 100%;
		float: left;
	}
	.settings-form form,
	.forgot-change form{
		width: 100%;
		float: left;
	}
	.forgot-change form{
		background: #fff;
	}
		.settings-form form label,
		.forgot-change form label{
			display: block;
			float: left;
			-webkit-border-radius: 0;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
			font-size: 12px;
			font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-weight: 300;
			height: 50px;
			line-height: 50px;
			border: none;
			padding: 0 20px;
			color: #666;
		}
		.settings-form form input,
		.forgot-change form input{
			display: block;
			float: left;
			-webkit-border-radius: 0;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
			font-size: 12px;
			font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-weight: 300;
			height: 50px;
			border: none;
			padding: 0 20px;
			color: #666;
		}
			.settings-form form input.validation-error,
			.forgot-change form input.validation-error{
				border: 2px solid #FF4E41 !important;
			}
		.settings-form form label,
		.forgot-change form label{
			border-right: 1px solid #ccc;
		}
		.settings-form form fieldset.inputs{

		}
			.settings-form form fieldset.inputs ol{
				width: 100%;
				float: left;
			}
				.settings-form form fieldset.inputs ol li,
				.forgot-change form fieldset.inputs ol li{
					width: 100%;
					float: left;
					-webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;
				    padding-left: 170px;
				    position: relative;
				    border-bottom: 1px solid #ccc;
				    background: #fff;
				}
				.forgot-change form fieldset.inputs ol li{
					/*padding-left: 220px;*/
				}
					.settings-form form fieldset.inputs ol li.hidden{
						display: none;
					}
					.settings-form form fieldset.inputs ol li#user_notifications{
						min-height: 50px;
					}
						.settings-form form fieldset.inputs ol li#user_notifications label{
							height: 50px;
						}
					.settings-form form fieldset.inputs ol li#user_avatar_input{
						border-bottom: none;
						min-height: 120px;
						font-size: 12px;
					}
						.settings-form form fieldset.inputs ol li#user_avatar_input #facebook-avatar{
							margin: 10px 0 15px 120px;
						}
							.settings-form form fieldset.inputs ol li#user_avatar_input #facebook-avatar a{
								display: block;
								min-width: 161px;
								padding-bottom: 27px;
								background: url(../images/fb-import.gif) left bottom no-repeat;
							}
						.settings-form form fieldset.inputs ol li#user_avatar_input a{
							color: #666;
							font-weight: 300;
						}
						.settings-form form fieldset.inputs ol li#user_avatar_input img#avatar-thumb{
							width: 100px;
							height: 100px;
							margin: 10px;
							float: left;
						}
						.settings-form form fieldset.inputs ol li#user_avatar_input input#user_avatar{
							height: auto;
							line-height: normal;
							width: auto;
							padding: 0;
							margin-bottom: 5px;
							float: none;
							font-size: 12px;
							cursor: pointer;
						}
						.settings-form form fieldset.inputs ol li#user_avatar_input label{
							height: 120px;
						}
							.settings-form form fieldset.inputs ol li#user_avatar_input label.inline-label{
							text-transform: none;
							width: auto;
							position: relative;
							left: auto;
							height: auto;
							line-height: normal;
							background: transparent;
							border: none;
							padding: 0;
							color: #666;
							font-weight: 300;
							font-size: 12px;
						}
							.settings-form form fieldset.inputs ol li#user_avatar_input label.inline-label input{
								width: auto;
								height: auto;
								margin: 0 5px 0 0;
							}
					.settings-form form fieldset.inputs ol li label,
					.forgot-change form fieldset.inputs ol li label{
						background: #F2F2F2;
						color: #07243F;
						font-weight: bold;
						text-transform: uppercase;
						position: absolute;
						left: 0;
						top: 0;
						width: 170px;
					}
					.forgot-change form fieldset.inputs ol li label{
						/*width: 220px;*/
					}
					.settings-form form fieldset.inputs ol li input{
						width: 100%;
						overflow: hidden;
					}
		.settings-form form fieldset.actions,
		.forgot-change form fieldset.actions{
			background: #f2f2f2;
			width: 100%;
			float: left;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		    padding: 9px 10px;
		    border-top: 1px solid #ccc;
		}
		.forgot-change form fieldset.actions{
			border-top: none;
		}
			.settings-form form fieldset.actions ol{

			}
				.settings-form form fieldset.actions ol li{

				}
					.settings-form form fieldset.actions ol li input,
					.forgot-change form fieldset.actions ol li input{
						background: #419EFF;
						border: none;
						float: right;
						padding: 0 10px;
						text-transform: uppercase;
						color: #fff;
						font-weight: bold;
						height: 32px;
						line-height: 32px;
						font-size: 12px;
						text-align: center;
						-webkit-appearance: none;
						cursor: pointer;
					}
#static-body{
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	color: #666;
	font-size: 14px;
	font-weight: 300;
	width: 100%;
	float: left;
	margin-bottom: 20px;
	line-height: 25px;
}
	#static-body h2{
		font-weight: bold;
		font-size: 14px;
	}
	#static-body p,
	#static-body ul{
		margin: 0 0 20px 0;
	}
		#static-body ul{
			margin-left: 1.5em;
		}
			#static-body ul li{
				list-style: disc outside none;
			}
strong{
	font-weight: bold;
}
#topics-table{
	width: 100%;
	color: #666;
	margin-bottom: 0;
	font-size: 12px;
}
	#topics-table a{
		color: #0D5EB2;
		font-weight: bold;
	}
		#topics-table thead{
			background: #07243F;
			height: 40px;
			line-height: 40px;
		}
		#topics-table tr th{
			padding: 0 0 0 10px;
			text-transform: uppercase;
			color: #fff;
			font-weight: bold;
			text-align: left;
		}
		#topics-table tr td{
			padding: 15px 20px;
			vertical-align: middle;
		}
		#topics-table tr td.title-col{
			font-size: 14px;
			padding: 0;
		}
			#topics-table tr td.title-col div{
				width: 100%;
				height: 100%;
				position: relative;
				padding: 10px;
				min-height: 60px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			#topics-table tr td.title-col a{
				display: block;
				margin-top: 5px;
			}
			#topics-table tr td.title-col img{
				display: block;
				width: 40px;
				height: 40px;
				position: absolute;
				top: 10px;
				left: 10px;
			}
			#topics-table tr td.title-col span{
				display: block;
				font-weight: 300;
				font-size: 12px;
				margin-top: 5px;
			}
				#topics-table.classifieds tr td.title-col a{
					margin-left: 50px;
				}
				#topics-table.classifieds tr td.title-col span{	
					margin-left: 50px;
				}
		#topics-table .comments-col{
			width: 20px;
		}
		#topics-table tr td.comments-col{
			text-align: center;
			border-right: 1px solid #ccc;
		}
		#topics-table .postdate-col{
			text-align: right;
			font-size: 12px;
			padding: 10px 20px;
		}
			#topics-table .postdate-col .topics-post-date{
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 3px;
			}
			#topics-table .postdate-col .topics-post-comments{
				position: relative;
				float: right;
				padding-left: 15px;
			}
			#topics-table .postdate-col .topics-post-comments:before{
				background: url(../images/tk-sprite.png) -564px -24px no-repeat;
			    width: 11px;
			    height: 12px;
			    display: block;
			    position: absolute;
			    content: " ";
			    top: 0;
			    left: 0;
			}
		#topics-table tr th.postdate-col{
			visibility: hidden;
		}
	#topics-table tr.odd{
		background: #fff;
	}
	#topics-table tr.even{
		background: #f2f2f2;
	}
#verify-container{

}
	#verify-container h1{
		margin: 30px 0 0 0;
	}
	#verify-invite-link{
		margin: 30px 0;
	}
		#verify-invite-link a{
			background: #B6CC07;
			border: none;
			padding: 0 10px;
			text-transform: uppercase;
			color: #fff;
			font-weight: bold;
			height: 32px;
			line-height: 32px;
			font-size: 12px;
			text-align: center;
			display: inline-block;
			margin-left: 20px;
		}
	#verify-main{
		padding-top: 30px;
		border-top: 1px solid #07243F;
	}
		#verify-choose{
			margin-bottom: 20px;
		}
		#verify-main .verify-method{
			float: left;
			margin: 0 20px 20px 0;
			min-height: 260px;
			height: 260px;
			position: relative;
		}
			#verify-main .verify-method.open{
				height: auto;
			}
			#verify-main .verify-method.faded{
				opacity: 0.5;
			}
		#verify-main .verify-method.last{
			margin-right: 0;
		}
			#verify-main .verify-method h2{
				font-size: 18px;
				text-transform: uppercase;
				margin-bottom: 20px;
				font-weight: 700;
			}
			#verify-main .verify-method p{
				font-size: 14px;
			    font-weight: 300;
			    line-height: 24px;
				margin-bottom: 30px;
			}
			#verify-main .verify-method button.verify-expand{
				position: absolute;
				left: 20px;
				bottom: 20px;
			}
				#verify-main .verify-method button.verify-expand.hidden{
					display: none;
				}
			#verify-main .verify-method .verify-form{
				display: none;
			}
			#verify-main .verify-method .verify-form.open{
				display: block;
			}
				#verify-main .verify-method .verify-form fieldset.inputs ol li{
					
				}
				#verify-main .verify-method .verify-form label{

				}
				#verify-main .verify-method .verify-form input.form-upload{
					width: 260px;
					height: 40px;
					padding: 0;
					border: none;
					-webkit-appearance: none;
					-webkit-border-radius: 0;
					-webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;
				    opacity: 0;
				    position: relative;
				    z-index: 10;
				}
				#bill-upload-facade{
					height: 40px;
					width: 260px;
					position: relative;
					margin: 10px 0;
					background: #fff;
				}
					#bill-upload-facade-filename{
						position: absolute;
						top: 0;
						left: 0;
						margin-top: 0 !important;
						white-space: nowrap;
						overflow: hidden;
						line-height: 22px;
						width: 160px !important;
					}
					#bill-upload-facade-browse{
						position: absolute;
						top: 5px;
						right: 5px;
						margin-right: 0;
						background: #f2f2f2;
						height: 30px;
						line-height: 30px;
					}
				
#welcome-container{
	width: 640px;
    margin: 80px auto 45px auto;
    padding: 20px 0 310px 0;
    float: none;
    clear: both;
}
	#welcome-main{
		width: 100%;
		float: left;
		padding-bottom: 40px;
	}
	#welcome-mobile-only{

	}
	#welcome-container h1,
	#verify-container h1{
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: -1px;
	}
	#welcome-primary{
		width: 300px;
		float: left;
		top: 40px;
		position: relative;
	}
		#welcome-primary form,
		#verify-main .verify-method{
			width: 260px;
			padding: 20px;
			background: rgba(7, 36, 63, 0.85);
		}
			#welcome-primary form label,
			#verify-main .verify-method .verify-form label{
				width: 100%;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: bold;
				display: block;
			}
			#welcome-primary form input.form-text,
			#verify-main .verify-method .verify-form input.form-text,
			#bill-upload-facade-filename{
				width: 100%;
				height: 40px;
				width: 260px;
				padding: 10px;
				border: none;
				-webkit-appearance: none;
				-webkit-border-radius: 0;
				-webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
			    font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
			    font-size: 14px;
			    font-weight: 300;
			    color: #666;
			    background: #fff;
				margin: 10px 0;
			}
			#welcome-primary form input.form-submit,
			#verify-main .verify-method button.verify-expand,
			#verify-main .verify-method .verify-form fieldset.actions button{
				width: 100%;
				height: 40px;
				width: 260px;
				padding: 10px;
				border: none;
				-webkit-appearance: none;
				-webkit-border-radius: 0;
				-webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
			    font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
			    font-size: 14px;
			    font-weight: bold;
			    color: #fff;
			    background: #B6CC07;
			    text-transform: uppercase;
			    margin-top: 10px;
			    cursor: pointer;
			}
			#welcome-primary form fieldset.inputs ol li.half,
			#verify-main .verify-method .verify-form fieldset.inputs ol li.half{
					width: 120px;
					margin-right: 20px;
					float: left;
				}
					#welcome-primary form fieldset.inputs ol li.half input.form-text,
					#verify-main .verify-method .verify-form fieldset.inputs ol li.half input.form-text{
						width: 120px;
					}
				#welcome-primary form fieldset.inputs ol li.half.last,
				#verify-main .verify-method .verify-form fieldset.inputs ol li.half.last{
					margin-right: 0;
				}
		#welcome-primary #form-links{
			font-size: 14px;
			font-weight: bold;
			text-align: center;
			margin-top: 15px;
		}
			#welcome-primary #form-links ol li{
				margin-bottom: 15px;
			}
			#welcome-primary #form-links a{
				text-decoration: underline;
			}
	#welcome-secondary{
		width: 300px;
		float: right;
		position: relative;
		top: 40px;
	}
		#welcome-secondary ul#welcome-front-features{
			margin-top: 0;
		}
		#welcome-secondary ul#welcome-login-features{
			margin-top: 0;
		}
			#welcome-secondary ul li{
				display: block;
				float: left;
				padding-left: 60px;
				height: 40px;
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				margin: 20px 0;
				position: relative;
			}
				#welcome-secondary ul li:before{
				    background: url(../images/tk-sprite.png) -10px -10px no-repeat;
				    width: 40px;
				    height: 40px;
				    display: block;
				    position: absolute;
				    content: " ";
				    top: 1px;
				    left: 0;
				    -webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
				}
				#welcome-secondary ul li#connect-callout:before{
					background-position: -10px -10px;
					background-color: #FFAF27;
				}
				#welcome-secondary ul li#share-callout:before,
				#welcome-secondary ul li#limit-callout:before{
					background-position: -70px -10px;
					background-color: #FF4E41;
				}
				#welcome-secondary ul li#limit-callout:before{

				}
				#welcome-secondary ul li#buy-callout:before{
					background-position: -130px -10px;
					background-color: #B6CC07;
				}
		#welcome-secondary aside{
			font-size: 14px;
			font-weight: 300;
			line-height: 28px;
		}
		#welcome-mobile-only{
			display: none;
		}
#welcome-desktop-only{
	margin-top: 0;
	width: 100%;
	float: left;
	background: #fff;
}
	h3#welcome-desktop-promo-1-h3{
		background-color: rgba(7, 36, 63, 0.5);
		padding: 50px 0 230px 0;
		width: 100%;
		text-align: center;
		font-size: 30px;
	    font-weight: 700;
	    letter-spacing: -1px;
	    text-transform: uppercase;
	    margin-top: -310px;
	}
	#welcome-desktop-promo-1{
		
	}
	#welcome-desktop-promo-1 ol{
		max-width: 940px;
		margin: -185px auto 0 auto;
		padding-top: 450px;
		background: url(../images/promo-1-sprite.png) center top no-repeat;
	}
		#welcome-desktop-promo-1 ol li{
			background: url(../images/promo-1-sprite.png) 0 -832px no-repeat;
			width: 260px;
			padding: 80px 0 60px 0;
			float: left;
			margin-right: 60px;
		}
		#welcome-desktop-promo-1 ol li#welcome-desktop-promo-connect{
			background-position: 22px -832px;
		}
		#welcome-desktop-promo-1 ol li#welcome-desktop-promo-classifieds{
			background-position: -309px -832px;
		}
		#welcome-desktop-promo-1 ol li#welcome-desktop-promo-verified{
			background-position: -630px -828px;
			margin-right: 0;
		}
			#welcome-desktop-promo-1 ol li h4{
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: -1px;
				color: #07243f;
				margin-bottom: 30px;
				font-size: 18px;
				line-height: 22px;
			}
			#welcome-desktop-promo-1 ol li p{
				font-weight: 300;
				color: #5d5d5d;
				font-size: 14px;
				line-height: 24px;
			}
	#welcome-desktop-promo-2{
		background: url(../images/promo-2-bg.jpg) center bottom no-repeat; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 559px;
		width: 100%;
	}
		#welcome-desktop-promo-2 #welcome-stats{
			width: 460px;
			margin: 0 auto;
		}
		#welcome-desktop-promo-2 #welcome-stats li{
			display: block;
			height: 140px;
			width: 140px;
			color: #fff;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			font-size: 13px;
			z-index: 10;
			text-align: center;
			float: left;
			margin-right: 20px;
			text-transform: uppercase;
			font-weight: 700;
			background-color: rgba(7, 36, 63, 0.85);
		}
			#welcome-desktop-promo-2 #welcome-stats li em{
				font-size: 38px;
				display: block;
				padding-top: 46px;
				letter-spacing: -2px;
			}
			#welcome-desktop-promo-2 #welcome-stats li#welcome-stats-buyers{
				margin-right: 0;
			}
		#welcome-desktop-promo-2 h3,
		#welcome-desktop-request-invitation h3{
			padding: 80px 0 40px 0;
			width: 100%;
			text-align: center;
			font-size: 30px;
		    font-weight: 700;
		    letter-spacing: -1px;
		    text-transform: uppercase;
		}
	#welcome-desktop-request-invitation{
		background: url(../images/request-bg.jpg) center top no-repeat; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 375px;
		width: 100%;
	}
		#welcome-desktop-request-invitation h3{
			padding-top: 40px;
		}
		#request-invitation{
			max-width: 940px;
			margin: 0 auto;
		}
			#request-invitation fieldset.inputs{
				float: left;
			}
			#request-invitation fieldset.inputs ol li{
				width: 220px;
				float: left;
				margin-right: 20px;
			}
			#request-invitation fieldset.inputs ol li#request-invitation-building-address{
				width: 300px;
			}
				#request-invitation fieldset.inputs ol li label{
					font-size: 12px;
					text-transform: uppercase;
					font-weight: 700;
				}
				#request-invitation fieldset.inputs ol li input{
					display: block;
					float: left;
					-webkit-border-radius: 0;
					-webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;
					font-size: 14px;
					font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
					font-weight: 300;
					height: 40px;
					border: none;
					padding: 10px;
					color: #666;
					width: 220px;
					margin-top: 10px;
				}
				#request-invitation fieldset.inputs ol li#request-invitation-building-address input{
					width: 300px;
				}
			#request-invitation fieldset.actions{
				float: left;
			}
				#request-invitation fieldset.actions ol li#request_submit_action{

				}
				#request-invitation fieldset.actions input.form-submit{
					width: 140px;
					height: 40px;
					padding: 10px;
					border: none;
					-webkit-appearance: none;
					-webkit-border-radius: 0;
					-webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;
				    font-family: 'Gotham A', 'Gotham B', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
				    font-size: 14px;
				    font-weight: bold;
				    color: #fff;
				    background: #B6CC07;
				    text-transform: uppercase;
				    margin-top: 26px;
				    cursor: pointer;
				}
		#welcome-desktop-request-invitation p,
		.buildings-serviced-list{
			color: #8E979E;
			font-size: 12px;
			line-height: 24px;
			max-width: 940px;
			margin: 0 auto 40px auto;
		}
		.buildings-serviced-list{
			font-weight: 700;
			text-transform: uppercase;
			margin: 0 auto;
			color: #fff;
		}
#wrapper{
	float: left;
	min-height: 100%;
	position: relative;
	width: 100%;
}

/* Responsive */

@media screen and (max-width: 960px) {
	
		nav#main-nav ul{
			
		}
			
	}
		
@media screen and (max-width: 863px) {
		nav#main-nav{

		}
			nav#main-nav ul{
				margin: 3px 0 0 200px;
			}
			nav#main-nav ul li{
				margin-right: 20px;
			}
				nav#main-nav ul li a{
					font-size: 80%;
					height: 18px;
					padding: 32px 3px 22px 3px;
				}
					nav#main-nav ul li.settings{
						margin-left: 20px;
					}
						nav#main-nav ul li.settings a{
							background-position: -365px 9px;
						}
						nav#main-nav ul li.messages a{
							background-position: -305px 9px;
						}
		#primary-inner{
			margin: 0 0 0 200px;
		}
		.post .post-meta{
			padding-right: 100px;
		}
		#secondary{
			width: 180px;
		}
			#secondary .cal{
				display: none;
			}
			#secondary h2{
				padding-left: 15px;
			}
			#search-box input.form-text{
				width: 150px;
			}
		#secondary-nav ul li a{
			padding: 0 50px 0 15px;
		}
	}

@media screen and (max-width: 678px) {
		#content{
			padding-bottom: 60px;
		}
			#content .inner{
				padding: 20px 10px;
			}
		header,
		footer{
			height: 60px;
		}
			header #logo{
				height: 21px;
				left: 20px;
				position: absolute;
				top: 12px;
				width: 37px;
			}
				header #logo a{
					background: url(../images/tk-logo-mobile.png) 0 0 no-repeat;
					background-size: 24px 36px;
					display: block;
					height: 0;
					overflow: hidden;
					padding: 36px 0 0 0;
					width: 24px;
					-webkit-background-size: 24px 36px;
					-moz-background-size: 24px 36px;
				}
		footer nav#footer-nav{
			padding: 24px 0;
		}
		footer{
			display: none;
		}
		.message .message-meta span{
			display: none;
		}
		nav#main-nav{

		}
			nav#main-nav ul{
				margin: 3px 0 0 80px;
				min-width: 190px;
			}
				nav#main-nav ul li{
					margin-right: 20px;
				}
					nav#main-nav ul li a{
						font-size: 80%;
						height: 18px;
						padding: 22px 3px 12px 3px;
					}
					nav#main-nav ul li.topics a,
					nav#main-nav ul li.classifieds a,
					nav#main-nav ul li.settings a,
					nav#main-nav ul li.messages a{
						background: url(../images/tk-sprite.png) -300px 0 no-repeat;
						height: 20px;
						overflow: hidden;
						text-indent: -9999px;
						width: 20px;
					}
					nav#main-nav ul li.home{
						display: none;
					}
					nav#main-nav ul li.topics a{
						background-position: -240px 0;
						padding: 21px 20px 11px 20px;
					}
					nav#main-nav ul li.classifieds a{
						background-position: -180px 0;
						padding: 21px 20px 11px 20px;
					}
					nav#main-nav ul li.settings a{
						background-position: -380px 0;
						padding: 21px 20px 11px 20px;
					}
					nav#main-nav ul li.messages a{
						background-position: -300px 0;
						padding: 21px 20px 11px 20px;
					}
					nav#main-nav ul li.settings{
						display: none;
					}
		#fake-add-image-button{

		}
		.settings-form h2,
		#post-form h2{
			font-size: 12px;
			padding: 10px;
		}
		#post-form h2 a.hide-post-form{
			top: 10px;
			right: 10px;
		}
		form.notifications{
			
		}
			form .multiple .radios-container.last{
				padding-bottom: 20px !important;
			}
			form #user_notifications_new_posts_building,
			form #user_notifications_new_posts_city{
				border-bottom: 1px solid #ccc !important;
			}
			form #user_notifications_new_posts_building>label,
			form #user_notifications_new_posts_floor>label{
				color: #07243F;
			}
			form.notifications .radios-container{
				padding: 20px 0 20px 10px;
			}
				form.notifications .radios-container.active button.on,
				form.notifications .radios-container.active li.on:after{
					opacity: 0.4;
				}
				form.notifications .radios-container .radios-input{
					display: block;
					opacity: 0;
					position: absolute;
					top: 0;
					right: 0;
					width: 120px;
					height: 70px;
				}
					form.notifications .radios-container .radios-input select{
						width: 120px;
						height: 70px;
					}
			form.notifications fieldset.inputs ol>li{
				padding-left: 180px !important;
				width: 300px !important;
			}
				form.notifications fieldset.inputs ol li label{
					width: 181px !important;
					font-size: 11px;
					line-height: 48px;
				}
					form.notifications fieldset.inputs ol li label span{
						visibility: visible;
					}
				form.notifications fieldset.inputs ol li .radios-container label{
					bottom: 7px !important;
				    font-size: 10px !important;
				    left: 10px !important;
				    line-height: 11px !important;
				    padding-left: 0 !important;
				    position: absolute !important;
				    width: 161px !important;
				}
				form.notifications fieldset.inputs ol li .radios-container .radios-control li,
				form.notifications fieldset.inputs ol li .radios-container .radios-control li button{
					display: none;
				}
					form.notifications fieldset.inputs ol li .radios-container .radios-control li.on,
					form.notifications fieldset.inputs ol li .radios-container .radios-control li button.on{
						display: block;
						background: none;
						border: none !important;
						position: relative;
						padding: 0;
						text-align: left;
					}
					form.notifications fieldset.inputs ol li .radios-container .radios-control li.on:after{
						background: url(../images/tk-sprite.png) no-repeat -504px -28px;
						width: 12px;
					    height: 8px;
					    display: block;
					    position: absolute;
					    content: " ";
					    top: 10px;
					    left: 88px;
					}
		#message-thread-container{
			padding: 0 10px 10px 10px;
		}
		.message{
			padding: 10px 0;
		}
			.message .message-avatar{
				top: 10px;
			}
			.message .message-date{
				top: 10px;
			}
		.message-actions form  fieldset.inputs ol li#message_body_input{
			background: #f2f2f2;
			border: none;
		}
		.message-actions form fieldset.inputs ol li#message_body_input.with-images{
			height: auto;
			padding-bottom: 94px;
		}
			.message-actions form fieldset.inputs ol li#message_body_input textarea#message_body{
				border: 1px solid #ccc;
				height: 60px;
				min-height: 90px;
			}
			.message-actions form fieldset.inputs ol li#message_body_input .images-container{
				bottom: 0;
				left: 0;
				margin: 0 0 0 -10px;
			}
			.post-form form fieldset.inputs ol li#post_body_input .images-container{
				bottom: 10px;
				left: 0;
				margin-left: -20px;
			}
				.message-actions form fieldset.inputs ol li#message_body_input .images-container .image-container,
				.post-form form fieldset.inputs ol li#post_body_input .images-container .image-container{
					margin-left: 10px;
					margin-bottom: 0;
				}
		#notifications .inner{
			margin-bottom: 0;
		}
		.pagination.infinite .next{
		}
			.pagination.infinite .next a:before{
				top: 3px;
			}
		.post{
			top: 32px;
			margin-bottom: 52px;
			padding: 10px;
		}
			.post h3{
				margin-right: 0;
			}
			.post .post-avatar{
				left: 10px;
				top: 10px;
			}
			.post .post-status-tag{
				position: absolute;
				right: 0;
				top: -30px;
				width: 300px;
				height: 30px;
				background: none;
			}
				.post .post-date{
					float: right;
					width: auto;
					background: #f2f2f2;
				}
				.post .post-status{
					float: right;
					width: auto;
				}
			.post .post-actions ul{
				position: absolute;
				top: -32px;
				left: 0;
				width: auto;
				margin: 0;
			}
				.post .post-actions ul li a{
					color: #fff;
				}
			.post .post-meta{
				padding-right: 0;
			}
			.post .post-meta,
			.post .post-body{
				margin-bottom: 10px;
			}
				.post .post-body .images{
					margin: 10px 0 0 -10px;
				}
					.post .post-body .images img{
						float: left;
						margin: 0 0 10px 10px;
						border: 1px solid #ccc;
						max-width: 133px;
					}
			.post .post-body,
			.post .post-comments,
			.post .post-actions{
				margin-left: 0;
			}
				.post .post-actions .post-actions-container .post-actions-form-container form{
				    margin-right: 0;
				}
		#post-form{
			display: none;
			top: auto;
		}
			#post-form.show{
				display: block;
			}
			#post-form form{
				margin-bottom: 50px;
				top: auto;
			}
			.post-form{
				top: auto;
				position: relative;
			}
			.post-form form input{
				padding: 0 10px 0 130px;
				font-size: 12px;
			}
			.post-form form textarea{
				font-size: 12px;
				padding: 10px;
				-webkit-appearance: none;
				-webkit-border-radius: 0;
			}
				.post-form form fieldset.inputs ol li#post_body_input textarea#post_body{
					height: 90px;
				}
			.post-form form fieldset.inputs ol li label,
			.post-form form fieldset.inputs ol li#post_body_input label{
				width: 120px;
				padding: 0 10px;
				font-size: 12px;
			}
				.post-form #post_price_input label:after{
					left: 129px;
				}
				.post-form form input#post_price{
					padding: 0 10px 0 140px;
				}
			
				
			.post-form form fieldset.inputs ol li#post_body_input.with-images{
				height: auto;
				padding-bottom: 102px;
			}
				.post-form form fieldset.inputs ol li#post_body_input .images-container{
					left: 20px;
					bottom: 10px;
				}
			.post-form form fieldset.inputs ol li#post_body_input label{
				width: 120px;
				display: none;
			}
			.post-form form.classified fieldset.inputs ol li#post_body_input{
				height: auto;
				padding-bottom: 40px;
			}
			.post-form form.classified fieldset.inputs ol li#post_body_input.with-images{
				height: auto;
				padding-bottom: 122px;
			}
				.post-form form.classified fieldset.inputs ol li#post_body_input .images-container{
					left: 20px;
					bottom: 40px;
				}
			.post-form form fieldset.inputs ol li{
				padding-left: 0;
				font-size: 12px;
			}
				.post-form form fieldset.inputs ol li#post_body_input{
					padding-left: 0;
					font-size: 12px;
				}
				.post-form form fieldset.actions .gone-checkbox{
					margin: 0;
					position: absolute;
					bottom: 58px;
					height: 20px
				}
					.post-form form fieldset.actions .gone-checkbox input{
						margin: 0 8px 0 0;
						padding: 0;
					}
			.post .post-actions .post-actions-container .post-actions-form-container form textarea#comment_body{
				font-size: 12px;
				padding: 8px 8px 6px 8px;
			}
			.post-form form fieldset.inputs ol li.select{
				font-size: 12px;
			}
				.post-form form fieldset.inputs ol li.select .chosen-container a.chosen-single{
					padding: 0 10px 0 129px;
				}
		#primary-inner{
			margin: 0;
		}
		li.request-invitation-link{
			display: none;
		}
		#secondary{
			display: block;
			position: fixed;
			bottom: 0;
			right: 0;
			width: 100%;
			margin: 0;
			z-index: 99;
			height: 30px;
			line-height: 30px;
		}
			#secondary #search-box{
				display: none;
			}
			#secondary select#mobile-menu{
				width: 100%;
				display: block;
				opacity: 0;
				height: 30px;
				z-index: 101;
				position: fixed;
				bottom: 0;
				left: 0;
			}
			#secondary h2{
				padding: 0 100px 0 10px;
				font-size: 12px;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 100;
				height: auto;
			}
				#secondary h2:after{
					background: url(../images/tk-sprite.png) -744px -26px no-repeat;
				    width: 12px;
				    height: 8px;
				    display: block;
				    position: absolute;
				    content: " ";
				    top: 11px;
				    right: 110px;
				}
					#secondary.inbox h2:after{
						right: 10px;
					}
			#secondary div#mobile-add-post{
				display: block;
				position: fixed;
				bottom: 0;
				right: 0;
				z-index: 102;
			}
				#secondary div#mobile-add-post a{
					display: block;
					background: #419EFF;
					border: none;
					float: right;
					text-transform: uppercase;
					color: #fff;
					font-weight: bold;
					height: 30px;
					line-height: 30px;
					font-size: 12px;
					-webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;
				    width: 100px;
				    text-align: center;
				}
			#secondary-nav{
				display: none;
			}
		.settings-form form{

		}
			.settings-form form fieldset.inputs ol li{
				padding-left: 120px;
			}
			.settings-form form fieldset.inputs ol li label{
				width: 120px;
			}
			.settings-form form input,
			.settings-form form label{
				padding: 0 10px;
			}
		#notifications p.success:before {
		    background: url("../images/tk-sprite.png") no-repeat scroll -1215px -15px rgba(0, 0, 0, 0);
		    content: " ";
		    display: inline-block;
		    height: 30px;
		    margin: 0 24px -25px -55px;
		    width: 30px;
		}
		#notifications p.success {
		    padding-left: 46px;
		    text-align: left;
		}
		#verify-invite-link a{
			margin: 10px 0 0 0;
		}
		#welcome-container{
			height: auto;
		    left: auto;
		    margin: 0;
		    padding: 0;
		    position: relative;
		    top: auto;
		    width: 100%;
		}
			#welcome-container h1{
				font-size: 20px;
				padding: 0 10px;
				margin-bottom: 20px;
			}
			#welcome-primary{
				top: auto;
				margin-bottom: 20px;
			}
			#welcome-secondary{
				top: auto;
				float: left;
				margin-bottom: 20px;
			}
				#welcome-secondary ul{
					margin: 20px 0 20px 10px;
				}
				#welcome-secondary ul li{
					padding-left: 50px;
				}
				#welcome-secondary ul#welcome-front-features{
					margin-top: 0;
				}
				#welcome-secondary aside{
					padding: 0 10px;
				}
				#welcome-secondary ul li#limit-callout{
					margin-top: 20px;
				}
			#welcome-mobile-only{
				display: block;
				width: 100%;
				float: left;
			}
				#welcome-primary form #user_remember_me_input{
					height: 25px;
					line-height: 25px;
				}
					#welcome-primary form #user_remember_me_input input#user_remember_me{
						display: block;
						float: left;
						position: relative;
						top: 2px;
						margin-right: 5px;
					}
				#welcome-promo-1,
				#welcome-promo-2{
					padding: 65px 20px 65px 0;
					width: 100%;
					margin-left: -10px;
					position: relative;
				}
				#welcome-promo-1{
					background: url(../images/bg-lic.png) top center no-repeat;
					padding: 35px 20px 190px 0;
					width: 100%;
					margin-left: -10px;
				    -webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
					position: relative;
					text-transform: uppercase;
					text-align: center;
				}
					#welcome-promo-1 h3{
						font-weight: bold;
						font-size: 20px;
						padding: 0 20px 0 40px;
					}
					#welcome-stats li{
						display: block;
						position: absolute;
						bottom: -47px;
						height: 94px;
						width: 95px;
						color: #fff;
						background: #07243F;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						border-radius: 50%;
						font-size: 8px;
						z-index: 10;
					}
						#welcome-stats li em{
							font-size: 24px;
							font-weight: bold;
							display: block;
							padding-top: 29px;
							letter-spacing: -1px;
						}
						#welcome-stats li#welcome-stats-buildings{
							left: 10px;
						}
						#welcome-stats li#welcome-stats-units{
							left: 50%;
							margin-left: -47px;
						}
						#welcome-stats li#welcome-stats-buyers{
							right: 10px;
							background: #B6CC07;
						}
				#welcome-promo-2{
					background: #fff;
					color: #5D5D5D;
					font-size: 14px;
					text-align: center;
					padding-bottom: 0;
				}
					#welcome-promo-2 h4{
						text-transform: uppercase;
						font-weight: bold;
						font-size: 20px;
						margin-bottom: 7px;
						padding-left: 20px;
						letter-spacing: -1px;
					}
					#welcome-promo-2 p{
						font-weight: 300;
						padding-left: 20px;
					}
						#welcome-promo-2 .welcome-list-link{
							margin: 20px 0 45px 0;
							text-transform: uppercase;
							font-size: 12px;
							font-weight: 600;
							padding-left: 20px;
						}
						#welcome-promo-2 ul#welcome-building-list{
							display: none;
							line-height: 23px;
						    list-style: none;
						    margin: 10px 0 40px 0;
						    text-align: left;
						}
							#welcome-promo-2 #welcome-building-list li{
								list-style: none;
								text-align: center;
							}
					#welcome-promo-2 a{
						color: #419EFF;
					}
					#welcome-do-container{
						padding: 35px 10px 20px 20px;
						width: 100%;
						margin-left: -10px;
						background: #f2f2f2;
					}
						#welcome-do-container h4{
							margin-bottom: 0;
							padding-left: 0;
							letter-spacing: -1px;
						}
						#welcome-join-button{
							padding-top: 20px;
						}
							#welcome-join-button a{
								display: block;
								width: 260px;
								height: 40px;
								line-height: 40px;
								color: #fff;
								text-transform: uppercase;
								font-size: 14px;
								background: #B6CC07;
								margin: 0 auto;
								font-weight: 700;
							}
						#welcome-do-list{
						}
							#welcome-do-list li{
								padding-top: 90px;
								text-align: left;
								position: relative;
								font-size: 14px;
								margin: 15px 0;
							}
								#welcome-do-list li h4{
									text-transform: uppercase;
									font-weight: 700;
									letter-spacing: -1px;
									color: #07243f;
									margin-bottom: 15px;
									font-size: 18px;
									line-height: 22px;
									padding: 0 20px;
								}
								#welcome-do-list li p{
									font-weight: 300;
									color: #5d5d5d;
									font-size: 14px;
									line-height: 24px;
									padding-right: 20px;
								}
							#welcome-do-list li#welcome-do-petitions:before{
								background: url(../images/tk-sprite.png) -1020px 0 no-repeat;
							    width: 60px;
							    height: 60px;
							    display: block;
							    position: absolute;
							    content: " ";
							    top: 15px;
							    left: 50%;
							    margin-left: -30px;
							}
							#welcome-do-list li#welcome-do-community:before{
								background: url(../images/tk-sprite.png) -960px 0 no-repeat;
							    width: 60px;
							    height: 60px;
							    display: block;
							    position: absolute;
							    content: " ";
							    top: 15px;
							    left: 50%;
							    margin-left: -30px;
							}
							#welcome-do-list li#welcome-do-verified:before{
								background: url(../images/tk-sprite.png) -1080px 0 no-repeat;
							    width: 60px;
							    height: 60px;
							    display: block;
							    position: absolute;
							    content: " ";
							    top: 15px;
							    left: 50%;
							    margin-left: -30px;
							}
			#welcome-main{
				width: 300px;
				margin: 0 auto;
			}
			#welcome-desktop-only{
				display: none;
			}
		header #header-login{
			top: 15px;
		}	
	}

@media screen and (max-width: 660px) {
		
	}


/* No Touch Only */
.no-touch a:hover{
	color: #fff;
	text-decoration: none;
}
.no-touch footer nav#footer-nav ul li a:hover{
	color: #fff;
}
.no-touch nav#main-nav ul li a:hover{
	opacity: 1;
}
.no-touch #notifications a:hover{
	color: #ccc;
	text-decoration: underline;
}
.no-touch .message a:hover{
	color: #07243F;
}
.no-touch .post a:hover{
	color: #07243F;
}
.no-touch .post h3 a:hover{
	color: #419EFF;
}
.no-touch .post .post-comments a.show-more-comments:hover{
	color: #07243F;
}
.no-touch .post-form form fieldset.inputs ol li.select .chosen-container .chosen-drop li:hover{
	background: #f2f2f2;
}
.no-touch #secondary-nav ul li a:hover{
	background: rgba(7, 36, 63, 0.4);
	color: #fff;
}
.no-touch .settings-form form fieldset.inputs ol li#user_avatar_input a:hover{
	color: #07243F;
}
.no-touch #topics-table tbody tr:hover,
.no-touch #inbox-list li:hover{
	background: #dbebfe;
	cursor: pointer;
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-resolution: 192dpi) {
	nav#main-nav ul li.settings a,
	nav#main-nav ul li.messages a,
	#pager ul li#pager-previous a,
	#pager ul li#pager-next a,
	#notifications #notifications-close,
	#welcome-secondary ul li:before,
	#welcome-do-list li#welcome-do-petitions:before,
	#welcome-do-list li#welcome-do-community:before,
	#welcome-do-list li#welcome-do-verified:before,
	.post .post-comments a.show-more-comments:before,
	#search-box input.form-submit,
	a.add-images-button,
	.post-form form fieldset.inputs ol li.select .chosen-container a.chosen-single:after,
	#post-form h2 a.hide-post-form,
	#fake-add-image-button,
	.post-form form fieldset.inputs ol li#post_body_input .images-container .image-container .actions a,
	.message-actions form  fieldset.inputs ol li#message_body_input .images-container .image-container .actions a,
	.pagination.infinite .next a:before,
	.post .post-meta .walking:before,
	form.notifications fieldset.inputs ol li .radios-container .radios-control li.on:after,
	#notifications p.success:before,
	#secondary .cal .cal-caption a.prev,
	#secondary .cal .cal-caption a.next,
	#topics-table .postdate-col .topics-post-comments:before{
		background-image: url(../images/tk-sprite@2x.png);
		background-size: 1260px;
	}
	#topics-table tr th.comments-col{
		background-image: url(../images/tk-sprite@2x.png);
		background-size: 857px;
	}
	header #logo a{
		background: url(../images/tk-logo@2x.png) 0 0 no-repeat;
		background-size: 131px 36px;
		-webkit-background-size: 131px 36px;
		-moz-background-size: 131px 36px;
	}
	#welcome-desktop-promo-1 ol,
	#welcome-desktop-promo-1 ol li{
		background-image: url(../images/promo-1-sprite@2x.png);
		background-size: 853px 900px;
		-webkit-background-size: 853px 900px;
		-moz-background-size: 853px 900px;
	}
	#welcome-desktop-promo-2{
		background-image: url(../images/promo-2-bg@2x.jpg);
	}
	#welcome-desktop-request-invitation{
		background-image: url(../images/request-bg@2x.jpg);
	}

}

/* Retina AND Mobile */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 610px),only screen and (min--moz-device-pixel-ratio: 1.5) and (max-width: 610px),only screen and (min-resolution: 192dpi) and (max-width: 610px){
	nav#main-nav ul li.topics a,
	nav#main-nav ul li.classifieds a,
	#secondary h2:after,
	.post .post-meta .walking{
		background-image: url(../images/tk-sprite@2x.png);
		background-size: 1260px;
	}
}
